header{

    nav{
        display: flex;
        width: 496px;
        height: 30px;
        align-items: center;
        gap: 40px;
        flex-shrink: 0;        
        ul{
            li{
                a{
                    color: #828282;
                    font-family: Open Sans;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.36px;
                }
            }
        }
    }
}